@model IEnumerable<Garage2._0.Models.Entites.Feedback>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center text-secondary my-4">User Testimonials</h1>

<div class="container mt-5 mb-5">
    <div class="row g-2">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card shadow-sm  rounded p-3 text-center px-4">
                    <div class="user-image mb-3">
                    
                        <a href="https://imgur.com/jEtedsn"><img src="https://i.imgur.com/jEtedsn.png" class="rounded-circle" width="80" title="source: imgur.com" /></a>
                    </div>
                    <div class="user-content">
                        <h4 class="mb-0 text-secondary"> @Html.DisplayFor(modelItem => item.UserName)</h4>
                        <p class="mb-0">@Html.DisplayFor(modelItem => item.FeedbackMessage)</p>
                    </div>
                    <div class="ratings">
                        @if (int.TryParse(item.Rating, out int ratingValue))
                        {
                            for (int i = 1; i <= ratingValue; i++)
                            {
                                <span class="rating-star"></span> 
                            }
                        }
                        else
                        {
                            <span class="text-muted">No rating</span> 
                        }
                        <span class="ms-2"> (@item.Rating / 10)</span>

                    </div>
                    <div class="mt-3">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

