@model IEnumerable<Garage2._0.Models.Entites.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="VehiclesList" asp-route-sortOrder="@ViewData["VehicleTypeSortParam"]">
                    @Html.DisplayNameFor(model => model.VehicleType)
                </a>
            </th>
            <th>
                <a asp-action="VehiclesList" asp-route-sortOrder="@ViewData["RegisterNumberSortParam"]">
                    @Html.DisplayNameFor(model => model.RegisterNumber)
                </a>
            </th>
            <th>
                <a asp-action="VehiclesList" asp-route-sortOrder="@ViewData["ArrivalTimeSortParam"]">
                    @Html.DisplayNameFor(model => model.ArrivalTime)
                </a>
            </th>
            <th>
                <a asp-action="VehiclesList" asp-route-sortOrder="@ViewData["ColorSortParam"]">
                    @Html.DisplayNameFor(model => model.Color)
                </a>
            </th>
            <th>
                <a asp-action="VehiclesList" asp-route-sortOrder="@ViewData["BrandSortParam"]">
                    @Html.DisplayNameFor(model => model.Brand)
                </a>
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.VehicleType
                </td>
                <td>
                    @item.RegisterNumber.ToUpper()
                </td>
                <td>
                    @item.ArrivalTime
                </td>
                <td>
                    @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(item.Color.ToLower())
                </td>
                <td>
                    @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(item.Brand.ToLower())
                </td>
                <td class="text-end">
                    <a class="btn icon-btn edit-btn" asp-action="Edit" asp-route-id="@item.Id">
                        Edit
                    </a> |
                    <a class="btn icon-btn details-btn" asp-action="Details" asp-route-id="@item.Id">
                        Details
                    </a> |
                    <a class="btn icon-btn check-out-btn" asp-action="CheckOut" asp-route-id="@item.Id">
                        Check Out
                    </a>|
                    <a class="btn icon-btn feedback-btn" asp-controller="Feedbacks" asp-action="Create" asp-route-id="@item.Id">
                        Check Out
                    </a>|
                    <a class="btn icon-btn delete-btn" asp-action="Delete" asp-route-id="@item.Id">
                        Delete
                    </a> 
                </td>
            </tr>

        }
    </tbody>
</table>
