@model Garage2._0.Models.ViewModels.VehicleDetailsViewModel 

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <div>
            @Model.Id

        </div>
        <div>
            @Model.RegisterNumber

        </div>
        <div>
            @Model.VehicleType

        </div>
        <div>
            @Model.Color

        </div>
        <div>
            @Model.Brand

        </div>
        <div>
            @Model.Model

        </div>
        <div>
            @Model.NumberOfWheels

        </div>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="VehiclesList">Back to List</a>
</div>
