@model Garage2._0.Models.ViewModels.VehicleDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Parking vehicle details: </h1>

<div>
    
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
    </dl>
</div>

<div class="card bg-light">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.VehicleType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.VehicleType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Brand)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Brand)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Model)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Model)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RegisterNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RegisterNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Color)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Color)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NumberOfWheels)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NumberOfWheels)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ArrivalTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CheckoutTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CheckoutTime)
            </dd>
        </dl>
        <div>
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
            <a asp-action="VehiclesList">Back to List</a>
        </div>
        </div>

  
</div>
